:root{
  /* COLORS */
  /* https://www.w3.org/TR/css-color-3/#svg-color */
  
  --bg-color:       rgba(22, 143, 141, 0.997);
  --shadow:         rgb(0, 255, 251);
  --letter-active:  rgb(126, 255, 255);
  --letter-color:   rgb(240, 248, 255);
  --highlight:      rgb(16, 207, 207);
  --coment:         rgb(255, 192, 203);
  --transparent:    transparent;
}

.body{
  background-color:       var(--bg-color);
  background-size:        50rem 50rem;
  background-repeat:      repeat;
  background-position:    40% 28%;
  color:                  var(--letter-color);
}

.container{
  max-width:        750px;
  border-radius:    10px;
  margin:           1.5em auto;
  padding:          1.2em;
  padding-top:      .5em;
  box-shadow:       0px 4px 70px -20px var(--shadow) inset;
}

.idEst{
  display:          block;
  background-color: darkslategray;
  border:           .2em dotted rgb(255, 208, 0);
  padding:          .7em;
  font-weight:      bold;
  overflow-wrap:    break-word;
}
.coment{
  color:            var(--coment);
  font-weight:      normal;
}

.table tr, .table th, .table td{
  border: .1em solid var(--letterColor);
  text-align: center;
  padding: .3em;
}
.table{
  border: .1em solid var(--letterColor);
}

.image-default{
  max-width: 88%;
  margin: 0 auto;
  display: block;
}


.link{
  color:        var(--letterActive);
}
.link:visited{
  color:        var(--letterColor);
}

.font-bold{
  font-weight:  bold;
}
.font-normal{
  font-weight:  normal;
}

.highlight{
  color:        var(--highlight);
}

.text-center{
  text-align:   center;
}
.margin-center{
  margin-left:  auto;
  margin-right: auto;
}
.display-block{
  display: block;
}