.ejBefore, .ejAfter{
  background-color: rgba(255, 228, 196, 0.5);
  font-weight: bold;
  overflow-wrap: break-word;
}
.ejBefore{
  box-shadow: 0px 0px 45px 7px rgba(119, 78, 31, 0.5) inset;
}
.ejAfter{
  box-shadow: 0px 0px 45px 7px rgb(248, 157, 236) inset;
}
.ejBefore > em, .ejAfter > em{
  font-weight: lighter;
}
.blind{
  display: none;
}
.seer{
  display: block;
}
.falseTrue{
  width: 100px;
}
.centrado{
  display: block;
  margin-left:  auto;
  margin-right: auto;
}
.ejFormato{
  display: flex;
  justify-content: center;
  align-items: center;
}